@font-face {
    font-family: 'Abel-Pro';
    src: local('Abel-Pro'), url(../fonts/Abel-Pro/AbelPro.ttf) format('truetype');
}
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Abel-Pro', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}